<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Friend Info</h1>
    <h3>TODO: 이름 표시</h3>

    <ul>
        <li>종족: TODO: species 표시</li>
        <li>나이: TODO: age 필드 표시</li>
        <li>성별: TODO: gender 필드 표시</li>
    </ul>

</body>
</html>