<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Example</title>
</head>
<body>
    <h3>Get 요청 처리 연습</h3>
    <ul>
        <!-- app.js에서 url에서 넘겨주는 data를 서버에서 처리해 해당 데이터를 유저에게 넘겨줘서 최종 출력 -->
        <li><a href="/request?name=홍길동">파라미터 처리 예제</a></li>
        <li><a href="/urlparam/홍길동">URL 파라미터 처리 예제</a></li>
        <li><a href="/render">뷰엔진 렌더링 예제</a></li>
    </ul>
</body>
</html>