<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Example</title>
</head>
<body>
    <h3>Get 요청 처리 연습</h3>
    <ul>
        <li><a href="/request?name=홍길동">파라미터 처리 예제</a></li>
        <li><a href="/urlparam/홍길동">URL 파라미터 처리 예제</a></li>
        <li><a href="/render">뷰엔진 렌더링 예제</a></li>
    </ul>
</body>
</html>